<!DOCTYPE html>
<html>
  <head>
    <title>Center an Image using text align center</title>
    <style>
      .img-container {
        text-align: center;
        display: block;
      }
    </style>
  </head>
  <body>


<h1>About</h1>
<p>
  Blog de Superhéroes es hoy día uno de los blogs referentes en el mundo del cómic con quince años de historia donde informamos sobre las principales noticias relacionadas con los personajes del mundo del cómic, y con mayor enfoque hacia el mundo de los superhéroes. Películas de cine, series, animación, videojuegos, cómics… toda la actualidad diaria del mundo de los superhéroes tiene cabida en el blog. Últimas fotos, rumores y noticias… en definitiva la última información que suena de nuestros personajes favoritos, y máxime si se trata de Marvel Comics y DC Comics, las dos principales casas de superhéroes.
</p>
<div class="img-container">
  <img src="https://as01.epimg.net/meristation/imagenes/2020/05/31/reportajes/1590909801_769417_1590909866_noticia_normal.jpg" width="1000" height="500">
</div>

</body>
</html>
